.knob {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  position: relative;

  &::after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #aaa;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
